@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #dadada;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

nav {
  /*background-color: blueviolet;*/
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

nav > a {
  /*background-color: aquamarine;*/
  color: black;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.sobre {
  background-color: #dadada;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0 0 0;
}

.box-image {
  background-color: rgb(49, 49, 49);
  width: 500px;
  height: 400px;
}

.text1 {
  background-color: rgb(156, 156, 156);
  width: 400px;
  height: 150px;
}