@charset "UTF-8";

/* Tipical Device Breakpoints
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet:  768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
 */

 @media screen and (max-width: 1000px) {

    header {
        position: relative;
    }

    header > h1 {
        font-size: 30px;
    }

    menu, ul{
        margin: 0;
        position: absolute;
        height: 150px;
    }

    .cont2, .cont3, .cont4, .cont5, .cont5, .cont6 {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }

    .img-container > div > img {
        display: block;
        width: 100%;
    }

    img {
        width: 100%;
    }

    .introduçao {
        margin: 1 auto;
        text-align: left;
        font-size: 20px;
        width: 300px;
    }

    .cont3 {
        flex-direction: column-reverse;
    }

    .cont6 {
        flex-direction: column-reverse;
    }

    .txt {
        text-align: left;
        width: 300px;
        margin-bottom: 20px;
    }

    .cont7, .inter-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    footer > div {
        margin: 0;
        padding: 0;
    }

    #enviar {
        width: 200px;
        margin: auto;
    }

 }

 @media screen and (max-width: 325px) {
    .nav-auto, .nav-manual {
        margin-top: 146%;
    }
 }

@media screen and (min-width: 325px) and (max-width: 450px) {
    .nav-auto, .nav-manual {
        margin-top: 131%;
    }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
    .nav-auto, .nav-manual {
        margin-top: 101%;
    }
}

@media screen and (min-width: 550px) and (max-width: 587px) {
    .nav-auto, .nav-manual {
        margin-top: 82%;
    }
}

@media screen and (min-width: 587px) and (max-width: 620px) {
    .nav-auto, .nav-manual {
        margin-top: 82%;
    }
}

@media screen and (min-width: 620px)  and (max-width: 750px) {
    .nav-auto, .nav-manual {
        margin-top: 78%;
    }
}

@media screen and (min-width: 750px)  and (max-width: 830px) {
    .nav-auto, .nav-manual {
        margin-top: 63%;
    }

    menu, ul{
        margin: 0 0 0 400px;
        position: absolute;
        height: 150px;
    }
}

@media screen and (min-width: 830px)  and (max-width: 950px) {
    .nav-auto, .nav-manual {
        margin-top: 57%;
    }
}

@media screen and (min-width: 950px)  and (max-width: 1020px) {
    .nav-auto, .nav-manual {
        margin-top: 50%;
    }
}

@media screen and (min-width: 1021px)  and (max-width: 1070px) {
    .nav-auto, .nav-manual {
        margin-top: 45%;
    }
}

@media screen and (min-width: 1070px)  and (max-width: 1140px) {
    .nav-auto, .nav-manual {
        margin-top: 44%;
    }
}

@media screen and (min-width: 1140px)  and (max-width: 1190px) {
    .nav-auto, .nav-manual {
        margin-top: 40%;
    }
}

@media screen and (min-width: 1190px)  and (max-width: 1260px) {
    .nav-auto, .nav-manual {
        margin-top: 39%;
    }
}

@media screen and (max-width: 600px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }
}