@charset "UTF-8";

:root {
  --gradient: linear-gradient(to right, #c7cfd9, rgb(0, 0, 58));
}

html,
body {
  background-image: linear-gradient(to bottom, #eef5ff, rgb(255, 231, 254));
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.171);
  align-items: center;
  padding: 10px 10px 20px 10px;
  margin: 0px;
  top: 0;
  height: 80px;
  z-index: 5;
}

header > .logo {
  color: orangered;
  margin: 0px 10px 0px 10px;
}

header > h1 {
  color: rgb(0, 0, 0);

  /*border-bottom: 3px solid rgba(0, 0, 0, 0.123);
    border-right: 3px solid rgba(0, 0, 0, 0.199);
    border-top: 0.5px solid rgba(0, 0, 0, 0.048);
    border-left: 0.5px solid rgba(0, 0, 0, 0.048);*/

  margin: auto;
  margin-right: 0;
  padding: 5px;
  font-size: 60px;
  font-family: "Sevillana", cursive;
  display: flex;
}

header > p {
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin: auto;
  margin-left: 0px;
}

header > p > a {
  text-decoration: none;
  color: rgb(255, 143, 103);
  border-bottom: 0.7px solid rgb(185, 162, 192);
}

header > p > a:hover {
  color: purple;
}

span#burguer {
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px solid black;
  transition: 1s;
}

header > menu {
  background-color: white;
  display: none;
  flex-direction: column;
  margin-top: 290px;
  margin-right: -86px;
  border: 1px solid rgb(226, 226, 226);
  padding: 30px 0;
  transition: 1s;
  border-radius: 20px;
  box-shadow: 9px solid black;
  width: 300px;
  z-index: 6;
  animation-name: openmenu;
  animation-duration: 0.5s;
}

header > menu > ul {
  list-style: none;
  padding: 10px;
  width: 300px;
  transition: 1s;
  z-index: 7;
}

header > menu > ul > li > a {
  background-color: #313335;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  margin-right: 15px;
  border: 1px solid rgb(255, 255, 255);
  display: block;
  text-align: center;
  transition: 1s;
  z-index: 7;
}

header > menu > ul > li > a:hover {
  color: orangered;
}

@keyframes openmenu {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

/*slides*/

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
  box-shadow: 10px solid black;
}

.slider-content {
  width: 400%;
  height: 450px;
  display: flex;
  box-shadow: 10px solid black;
}

.slider-content > input,
.img-mobile {
  display: none;
  box-shadow: 10px solid black;
}

.slide-box {
  width: 25%;
  height: 450px;
  position: relative;
  text-align: center;
  transition: 1s;
  box-shadow: 10px solid black;
}

.slide-box > img {
  width: 100%;
  height: 450px;
  box-shadow: 10px solid black;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 36%;
  display: flex;
  justify-content: center;
}

.nav-manual > .manual-btn,
.nav-auto > div {
  border: 1px solid orangered;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto > div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: orangered;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
  background-color: orangered;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
  background-color: orangered;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: orangered;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

/*fim do slide*/

.introduçao {
  margin: 0 auto;
  text-align: center;
  margin-top: 170px;
  width: 600px;
  font-size: 1.2em;
  color: #313335;
}

.introduçao > h3 {
  font-size: 30px;
}

.introduçao > h3 > strong {
  font-family: "Sevillana", cursive;
  font-size: 47px;
}

.img-container,
.img-container > div {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
}

.img-cont1 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont2 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont2 {
  overflow: hidden;
}

.img-cont3 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont3 {
  overflow: hidden;
}

.img-cont4 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont4 {
  overflow: hidden;
}

.img-cont5 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont5 {
  overflow: hidden;
}

.img-cont6 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont6 {
  overflow: hidden;
}

.img-cont7 > img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.img-cont7 {
  overflow: hidden;
}

.cont2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.txt-cont2 {
  text-align: center;
  width: 469px;
  font-size: 1.2em;
  color: #313335;
}

.cont2 > .txt-cont2 > h3 {
  font-size: 30px;
}

.cont2 > div > a {
  text-decoration: none;
  display: block;
  background-color: #313335;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
}

.cont2 > div > a:hover {
  transition: 0.2s;
  transform: scale(1.05);
  border: 1px solid orangered;
}

.cont3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.txt-cont3 {
  text-align: center;
  width: 469px;
  font-size: 1.2em;
  color: #313335;
}

.cont3 > .txt-cont3 > h3 {
  font-size: 30px;
}

.cont3 > div > a {
  text-decoration: none;
  display: block;
  background-color: #313335;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
}

.cont3 > div > a:hover {
  transition: 0.2s;
  transform: scale(1.05);
  border: 1px solid orangered;
}

.cont4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.txt-cont4 {
  text-align: center;
  width: 469px;
  font-size: 1.2em;
  color: #313335;
}

.cont4 > .txt-cont4 > h3 {
  font-size: 30px;
}

.cont4 > div > a {
  text-decoration: none;
  display: block;
  background-color: #313335;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
}

.cont4 > div > a:hover {
  transition: 0.2s;
  transform: scale(1.05);
  border: 1px solid orangered;
}

.cont5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.txt-cont5 {
  text-align: center;
  width: 469px;
  font-size: 1.2em;
  color: #313335;
}

.cont5 > .txt-cont5 > h3 {
  font-size: 30px;
}

.cont5 > div > a {
  text-decoration: none;
  display: block;
  background-color: #313335;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
}

.cont5 > div > a:hover {
  transition: 0.2s;
  transform: scale(1.05);
  border: 1px solid orangered;
}

.cont6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.txt-cont6 {
  text-align: center;
  width: 469px;
  font-size: 1.2em;
  color: #313335;
}

.cont6 > .txt-cont6 > h3 {
  font-size: 30px;
}

.cont6 > div > a {
  text-decoration: none;
  display: block;
  background-color: #313335;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
}

.cont6 > div > a:hover {
  transition: 0.2s;
  transform: scale(1.05);
  border: 1px solid orangered;
}

.cont7 {
  background-color: rgb(51, 37, 37);
  width: 100vw;
  display: block;
  align-items: center;
  padding: 80px 0;
}

.inter-box {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1000px;
}

.txt-cont7 {
  text-align: center;
  width: 469px;
  font-size: 1.2em;
  color: #313335;
}

.cont7 > .txt-cont7 > h3 {
  font-size: 30px;
}

.cont7 > .inter-box > .txt-cont7 > a {
  text-decoration: none;
  display: block;
  background-color: #313335;
  color: white;
  font-size: 20px;
  width: 120px;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
}

.cont7 > .inter-box > .txt-cont7 > a:hover {
  transition: 0.2s;
  transform: scale(1.05);
  border: 1px solid orangered;
}

footer {
  background-color: bisque;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

footer > #msg > #formulario > h3 {
  color: #313335;
}

#msg {
  padding: 10px;
  background-color: rgba(255, 221, 221, 0);
  border-radius: 10px;
}

.campo {
  margin: 60px 0;
}

input {
  background-color: transparent;
  border: 0px;

}

#enviar {
  width: 100px;
  height: 30px;
  box-shadow: 10px solid black;
  border: 1px solid #313335;
  background-color: #313335;
  margin-left: 70px;
  color: white;
  transition: 0.5s;
}

#enviar:hover {
  color: orangered;
  scale: 1.1;
}

