@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Sriracha&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
}

/*::-webkit-scrollbar {
  
}*/

.efeito-main-topo,
.efeito-img-topo,
.experiencia-container1,
.experiencia-container2,
.experiencia-container3 {
  visibility: hidden;
}

html,
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  animation: header 0.5s;
  animation-timeline: scroll();
  animation-timing-function: ease-in-out;
}

header.rolagem {
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.082);
}

header > span {
  color: orangered;
  margin: 10px;
}

nav {
  display: flex;
  color: black;
}

nav > a {
  text-decoration: none;
  color: black;
  margin: 0 30px;
  font-size: 1.1em;
  transition: 0.3s;
}

nav > a:hover {
  color: rgb(255, 90, 30);
}

.cont1 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.116);
}

.txt-cont1 {
  padding: 20px;
  width: 400px;
  height: auto;
}

.h1 {
  margin: 50px 0 0 0;
  font-size: 100px;
  animation: titulo 3s;
  animation-timing-function: cubic-bezier(0.71, -0.59, 0.32, 1.63);
}

.h1-2 {
  margin: -10px 0 0 200px;
  font-size: 100px;
  animation: titulo 3s;
  animation-timing-function: cubic-bezier(0.71, -0.59, 0.32, 1.63);
}

.linha-h {
  background-color: orangered;
  width: 380px;
  height: 3px;
  animation: linha1 7s;
  animation-timing-function: cubic-bezier(0.71, -0.59, 0.32, 1.63);
}

.linha-h2 {
  background-color: orangered;
  width: 500px;
  height: 3px;
  margin: 0px 0 100px 200px;
  animation: linha2 7s;
  animation-timing-function: cubic-bezier(0.71, -0.59, 0.32, 1.63);
}

.txt-cont1 > h2 {
  margin: 20px 0 50px 90px;
  text-decoration: underline 1.5px orangered;
}

.txt-cont1 > p {
  margin: 20px 0 0 80px;
  color: rgb(63, 63, 63);
}

.img-cont1 {
  width: 600px;
  height: 700px;
  overflow: hidden;
  padding: 0;
  margin: 200px 0 0 0;
}

.img-cont1 > img {
  width: 600px;
  position: relative;
  margin-top: -100px;
  transition: 1s;
}

.img-cont1 > img:hover {
  scale: 1.1;
}

@keyframes titulo {
  0% {
    color: orangered;
  }

  100% {
    color: black;
  }
}

@keyframes linha1 {
  0% {
    margin-left: 0;
    width: 0px;
    background-color: black;
  }

  60% {
    width: 600px;
  }

  100% {
    background-color: orangered;
    width: 380px;
    height: 3px;
  }
}

@keyframes linha2 {
  0% {
    margin-left: 0;
    width: 0px;
    background-color: black;
  }

  100% {
    background-color: orangered;
    width: 500px;
    height: 3px;
    margin-left: 200px;
  }
}

.seta {
  background-color: rgb(43, 43, 43);
  width: 40px;
  height: 40px;
  margin: 150px 0 0 630px;
  border-radius: 50%;
  animation: pisca 4s;
  animation-iteration-count: infinite;
}

.seta > span {
  margin: 10px 0 0 8px;
  color: white;
  cursor: pointer;
}

@keyframes pisca {
  0% {
    background-color: white;
  }

  50% {
    background-color: rgb(53, 53, 53);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}

.cont2 {
  padding: 150px 0 0 0;
  background-color: white;
}

.cont2 > h1 {
  margin: 20px 600px 100px 600px;
  font-size: 30px;
  text-decoration: underline 2px orangered;
}

.inter-cont2 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 0 100px 0;
}

.boxes {
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.205);
  padding: 20px;
  border-radius: 0 10px 10px 0;
  color: rgb(68, 68, 68);
  transition: 0.2s;
  margin: 0 10px;
}

.boxes:hover {
  scale: 1.05;
}
