@charset "UTF-8";

/* Tipical Device Breakpoints
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet:  768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
 */

 @media screen and (max-width: 600px) {
    header {
        margin: 0;
        padding: 0px;
        display: grid;
        align-items: center;
        grid-template-rows: 1fr;
    }

    .logo {
        margin: 0px;
    }

    header > h1 {
        font-size: 25px;
        margin: -30px 0px 0px 35px;
    }

    header > p {
        font-size: 0px;
        color: transparent;
        border-bottom: transparent;
        padding: 0px;
    }

    header > menu > a:hover {
        border-bottom: none;
        color: blueviolet;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }

    main > a {
        margin: 0 auto;
        margin-top:45px;
    }
 }

 @media screen and (min-width:600px) and (max-width:768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px;
        padding: 10px;
    }
 }

 @media screen and (min-width:598px) and (max-width:800px) {
    header > menu > a:hover {
        border-bottom: none;
        color: blueviolet;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px;
        padding: 0px;
    }

    main > a {
        margin:  auto;
        margin-top: 40px;
    }
 }

 @media screen and (min-width:800px) and (max-width:1200px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main > a {
        margin-right: 40px;
    }
 }